<mat-toolbar>
  <mat-toolbar-row>
    <span class="album-info">
      <!-- <span class="album-title">只属于我们的美好时光</span> -->
      <span class="album-title">Our Time Together</span>
      <span class="shared-with">Shared with Melinda</span>
    </span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <!-- <mat-icon>more_vert</mat-icon> -->
      <i class="more-vert"></i>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <!-- <mat-icon>dialpad</mat-icon> -->
          <i class="ico-holder"></i>
          <span>Select</span>
        </button>
        <button mat-menu-item>
          <!-- <mat-icon>voicemail</mat-icon> -->
          <i class="ico-holder"></i>
          <span>New Album</span>
        </button>
        <button mat-menu-item>
          <!-- <mat-icon>notifications_off</mat-icon> -->
          <i class="ico-holder"></i>
          <span>Share Album</span>
        </button>
        <button mat-menu-item>
          <!-- <mat-icon>notifications_off</mat-icon> -->
          <i class="ico-holder"></i>
          <span>My Albums</span>
        </button>
      </mat-menu>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <form action="http://localhost:49995/images/upload" method="post" enctype="multipart/form-data" onsubmit="this.preventRedir()">
  <input type="file" name="imageupload"><br>
  <input type="submit">
</form> -->

<!-- <div class="divider-today">Today</div> -->
<div class="masonry-grid-today">
  <!-- <div class="col-width"></div> -->
  <div class="grid-item" style="" *ngFor="let item of htmlArr; let i = index">
    <a href="#" [innerHTML]="item | safeHtml">
      <!-- <img src="{{item}}"> -->
      <!-- {{image_prefix + item + image_postfix}} -->
      <!-- <div style="background: url({{item}}) 50% no-repeat;background-size: cover;"></div> -->
    </a>
  </div>

<!-- <div class="fn-btn take-photo" (click)="takePhoto()">
  <input type="file" accept="image/*" capture="camera" />
</div> -->
<label for="take-photo" class="fn-btn take-photo">
  <!-- <button (click)="submitImage()">TEST</button> -->
  <form name="imageUploadForm" action="http://localhost:49995/images/upload" method="post" enctype="multipart/form-data">
      <input id="take-photo" type="file" name="imageupload" accept="image/*" capture="camera" (change)="photoReady($event)"/>
      <!-- <input type="submit" [style.display]="fileChange ? 'block' : 'none'" value="Upload"> -->
  </form>
</label>

<label for="upload-photo" class="fn-btn add-photo">
  <form name="imageUploadForm" action="http://localhost:49995/images/upload" method="post" enctype="multipart/form-data">
      <input id="upload-photo" type="file" name="imageupload" accept="image/*" (change)="photoReady($event)"/>
      <!-- <input type="submit" [style.display]="fileChange ? 'block' : 'none'" value="Upload"> -->
  </form>
</label>

<!-- <mat-button-toggle-group #group="matButtonToggleGroup">
  <mat-button-toggle value="module" checked>
    <i class="view-module"></i>
  </mat-button-toggle>
  <mat-button-toggle value="stream">
    <i class="view-stream"></i>
  </mat-button-toggle>
</mat-button-toggle-group> -->
<!-- <div class="example-selected-value">Selected value: {{group.value}}</div> -->