::-webkit-scrollbar {
    width: 0px !important;
    /* remove scrollbar space */
    background: transparent !important;
    /* optional: just make scrollbar invisible */
}

.md-app-toolbar {
    /**
     * The original value was absolute, which caused
     * the navbar to jump down irregularly when the 
     * page was scrolled up. Override it as 'fixed' seem
     * to fix the problem (no pun intended).
     */
    position: fixed !important;
}